* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }

body {
	font-family: 'Raleway', sans-serif;
	font-weight: 100;
	margin: 0;
	/*morado inmundo: #bb05f7*/
	/*morado dark: #610280*/
	/*verde infernal: #c0fe00*/
	/*verde menos doloroso: a4d901*/
	background-color: #a4d901;
}

h2{
	text-align: center;
	font-family: Chango;
	font-size: 35;
	text-shadow: 2px 2px #545454;
	color: #c0fe00;
}

h3{
	text-indent: 50px;
	font-family: Chango;
	font-size: 25;
	text-shadow: 2px 2px #545454;
	color: #c0fe00;
}

.grid24 {
	width: 100%;
}

.grid16 {
	width: 50%;
}

#bubbles{

	z-index: -1;
}

/*CABECERA*/
header{
	background-color: #610280;
	//opacity: 0.8;
	position: fixed;
	top: 0;
	//width: 100%;
	height: 20%;
	z-index: 1;
}

header img{
	height: 70%;
	display: table;
    text-align: center;
}


/*Barra Nav.*/
nav{
	position: fixed;
	top: 14.5%;
	width: 100%;

}

nav li {
	padding-top: 10px;
	width: 20%;
	text-align: center;
	font-family: Chango;
	color: #c0fe00;
	box-shadow: 3px 3px 5px rgba(50, 50, 50, .5);
}

nav li:hover {
	background-color: #c0fe00;
	color: black;
	box-shadow: 3px 3px 3px 6px rgba(50, 50, 50, .5);
}

nav li.marcado{
	background-color: #bb05f7;
	color: #c0fe00;
	box-shadow: 0px 3px 5px rgba(50, 50, 50, .5);
}


/*Main*/
main {
	width: 66%;
	position: absolute;
	top: 20%;
	left: 5%;
	background-color: #bb05f7;
	padding-top: 20px;
	padding-bottom: 120px;
	float: left;

}

main div {
	padding: 20px;
}

main img {
	width: 240px;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

main video{
	display: block;
	margin-left: auto;
	margin-right: auto;
}

main article{
	background-color: 610280;
	padding: 1px;
	padding-bottom: 2px;
	margin-bottom: 20px;
}


/*Aside*/
aside {
	background-color: #bb05f7;
	//opacity: 0.8;
	position: fixed;
	right: 0;
	top: 20%;
	padding-bottom: 20px;
	float: right;
	width: 33%;
	height: 80%;
	//overflow-y: scroll;
}

aside div {
	padding: 20px;
}




h1 {
	font-size:20px;
}

h3 {
	font-size: 28px;
}

a {
	text-decoration: none;
	color: #aaa;
}


button {
	cursor: pointer;
	width: 240px;
	height: 30px;
	//border-radius: 10px;
	display: block;
	margin-left: auto;
	margin-right: auto;
	color: #c0fe00;
    background-color: #610280;
    font-family: Chango;
    font-size: 15px;
}

.buttonGroup {
	padding-top: 20px;
}

.indentado {
	display: none;
}

.hidden {
	display: none;
}




footer {
	background: #610280;
	position: fixed;
	bottom: 0;
	width: 100%;
	padding-bottom: 20px;
	box-shadow: 0px -3px 5px rgba(50, 50, 50, .5);
}

ul {
	-webkit-padding-start: 0;
}

li {
	list-style-type: none;
	float: left;
	height: 30px;
	cursor: pointer;
}

footer li {
	float: right;
	padding-right: 20px;
	height: 20px;
	cursor: default;
}


.back-to-top {
    position: fixed;
    bottom: 8%;
    left: 55%;
    //text-decoration: none;
    color: #c0fe00;
    background-color: #610280;
    opacity: 0.9;
    font-family: Chango;
    font-size: 15px;
    padding: 1em;
    z-index: 1;
    display: none;
}

.back-to-top:hover {    
    background-color: #610280;
    opacity: 0.7;
}


@media (max-width: 480px) {
  header{
	position: relative;
  }

  aside {
	position: relative;
  	width: 100%;
    float: none;
    text-align: center;
    padding-left: 0;
  	padding-bottom: 120px;

  }
  main {
  	width: 100%;
  	text-align: center;
  	padding-bottom: 40px;
  }
}
